*{
    margin: 0;
    padding: 0;
}
.bg{
    width: 600px;
    height: 550px;
    background-image: repeating-radial-gradient(circle at center,rgb(5, 78, 123),rgb(235, 235, 235) 1%);
    border-radius: 50%;
    margin: 50px auto;
    padding: 50px;
    padding-top: 50px ;
    border: 5px solid hsla(0, 0%, 49%, 0.801);
}
.sheet{
    width: 200px;/* 1 */
    height: 220px;
    background: rgb(15, 15, 15);
    border-radius: 30px;
    box-shadow: 15px 15px 12px rgb(125, 72, 81);
    margin: 10px 100px 100px;
}
.sheet p {
    width: 400px;
    height: 55px;
    background: #504d58 url(image/yinfu.jpg) no-repeat 70px 10px;
    margin-bottom: 2px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 50px;
    text-align: center;
    font-family: "微软雅黑";

}
.sheet p:first-child{
    width: 400px;
    height: 247px;
    background: #f8f5f7;
    background-image: url(images/music.jpg),url(image/生成音乐排行榜艺术字.png);
    background-repeat: no-repeat;
    background-position: 00px -100px,50px 192px ;
    border-radius: 30px 30px 0 0;
   
}
.sheet p:last-child{
    border-radius: 0 0 30px 30px;
}
.a-link {
    color: rgb(10, 11, 11)
}

a-link{
    color: rgb(18, 218, 218);
}